# Python
venv/
__pycache__/
*.pyc

# Environment Variables
.env

# Node
node_modules/

# Vite
dist/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Local database files
*.db
*.sqlite
*.sqlite3